body{
    background:url("../assets/bg.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;


}
.movieContainer{
    display: flex;
    margin-left: 5rem;
    width: auto;
    height: auto;
}
.movieContainer>image{
    width: 300px;
    height: 300px;
    border-radius: 10px;
    margin-top: 3rem;
}
.movieDetails{
    display: flex;
    flex-direction: column;
    margin-left: 5rem;
    width: auto;
    height: auto;

}
.movieDetails>h1, h2 ,p{
    text-align: center;
    font-family: 'Tilt Warp', cursive;
    font-size: 1.5rem;
    color: white;
    margin-top: 3rem;
    margin-left: 5rem;
}
.downloadButtons{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 1rem;
    width: 10rem;
    height: 3rem;
    border-radius: 10px;
    border: none;
    color: black;
    background-color: rgba(92, 198, 93, 0.8);
    font-family: 'Tilt Warp', cursive;
    font-size: 1rem;
    cursor: pointer;
}
.downloadButtons:hover{
    background-color:black;
    color: white;
}
#title{
    color: white;
    text-align: center;
    font-family: 'Tilt Warp', cursive;
    font-size: 8rem;
    margin-top: 1rem;
}
sup{
    font-size: 1.5rem;
}
#searchBar{
    font-weight: bold;
    font-family: 'Tilt Warp', cursive;
    margin-top: 10rem;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    border: 100px;
    width: 80vw;
}
@media screen and (max-width: 536px){
    #title{
        font-size: 5rem;
    }

}
@media screen and (max-width: 800px) {
    .movieContainer{
        flex-direction: column;
        align-content: center;
        width: 300px;
        height: 300px;
    }
    .movieContainer>image{
        align-self: center;
    }
    .movieDetails,h1, h2 ,p{
        color: black;
        margin-left: 0;
        text-align: center;
    }
    .downloadButtons{
        left: 0;
        transform: translateX(0);
    }
    #homeButton{
    }

}