body{
    background:url("../assets/bg.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

}
#title{
    color: white;
    text-align: center;
    font-family: 'Tilt Warp', cursive;
    font-size: 8rem;
    margin-top: 2rem;
}
sup{
    font-size: 1.5rem;
}
@media screen and (max-width: 536px){
    #title{
        font-size: 5rem;
    }

}
