body{
    background:url("../assets/bg.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;


}
.movieContainer{
    display: flex;
    margin-left: 5rem;
    width: auto;
    height: auto;
}
.movieContainer>image{
    width: 300px;
    height: 300px;
    border-radius: 10px;
    margin-top: 3rem;
}
.movieDetails{
    display: flex;
    flex-direction: column;
    margin-left: 5rem;
    width: auto;
    height: auto;

}
.footerText{
    text-align: center;
    font-family: 'Tilt Warp', cursive;
    font-size: 1.5rem;

}
.movieDetails>h1, h2 ,p{
    text-align: center;
    font-family: 'Tilt Warp', cursive;
    font-size: 1.5rem;
    color: white;
    margin-top: 3rem;
    margin-left: 5rem;
}
.downloadButtons{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 1rem;
    width: 10rem;
    height: 3rem;
    border-radius: 10px;
    border: none;
    color: black;
    background-color: rgba(92, 198, 93, 0.8);
    font-family: 'Tilt Warp', cursive;
    font-size: 1rem;
    cursor: pointer;
}
.downloadButtons:hover{
    background-color:black;
    color: white;
}
#title{
    color: white;
    text-align: center;
    font-family: 'Tilt Warp', cursive;
    font-size: 8rem;
    margin-top: 1rem;
}
sup{
    font-size: 1.5rem;
}
#searchBar{
    font-weight: bold;
    font-family: 'Tilt Warp', cursive;
    margin-top: 10rem;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    border: 100px;
    width: 80vw;
}
#title:hover{
 cursor: pointer;
}
/*Footer - Start.*/

.myFooter{
    position: relative;
    top:100vh;
}

.footer-main{
    padding-top: 90px;
}

.address-main > div.col-lg-4 {
    border-bottom: dotted 1px #999;
}
.address-box {
    padding: 10px 0;
    margin-bottom: 30px;
}
.add-icon{
    float: left;
    width: 60px;
    display: inline-block;
    padding: 0px 5px;
}
.address-box .add-icon {
    background: #27303b;
    height: 75px;
    line-height: 75px;
    width: 75px;
    margin-right: 20px;
    text-align: center;
}
.add-icon img{
    width: 100%;
}
.address-box .add-icon img {
    max-width: 40px;
}
.add-content{
    padding-left: 70px;
}
.add-content h5 {
    font-size: 17px;
    color: #ffffff;
    padding: 0;
    font-weight: 500;
    margin-bottom: 10px;
}
.add-content p {
    font-size: 13px;
    color: #999999;
    font-weight: 300;
}
.add-content p a{
    font-size: 14px;
    color: #999999;
    font-weight: 300;
    word-wrap: break-word;
}
.add-content p a:hover{
    color: #ffb32d;
}
.footer-main{
    padding-top: 90px;
}

.address-main > div.col-lg-4 {
    border-bottom: dotted 1px #999;
}
.address-box {
    padding: 10px 0;
    margin-bottom: 30px;
}
.add-icon{
    float: left;
    width: 60px;
    display: inline-block;
    padding: 0px 5px;
}
.address-box .add-icon {
    background: #27303b;
    height: 75px;
    line-height: 75px;
    width: 75px;
    margin-right: 20px;
    text-align: center;
}
.add-icon img{
    width: 100%;
}
.address-box .add-icon img {
    max-width: 40px;
}
.add-content{
    padding-left: 70px;
}
.add-content h5 {
    font-size: 17px;
    color: #ffffff;
    padding: 0;
    font-weight: 500;
    margin-bottom: 10px;
}
.add-content p {
    font-size: 13px;
    color: #999999;
    font-weight: 300;
}
.add-content p a{
    font-size: 14px;
    color: #999999;
    font-weight: 300;
    word-wrap: break-word;
}
.add-content p a:hover {
    color: #ffb32d;
}
/*Footer - End.*/

@media screen and (max-width: 840px){
    #title{
        font-size: 3rem;
    }
    .footerText{
        font-size: 1rem;
    }

}
@media screen and (max-width: 800px) {
    body{
        overflow-x: hidden;
    }
    .movieContainer{
        flex-direction: column;
        margin-left: 2rem;
        margin-right: 2rem;
    }
    .movieDetails,h1, h2 ,p{
        margin-left: 0;
        text-align: center;
    }
    .downloadButtons{
        left: 0;
        transform: translateX(0);
    }


}